@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,400;0,500;1,300&display=swap');

:root {
    --themeColor: rgb(67, 37, 108);
    --themeBottom: rgb(43, 30, 74);
    --topLeft: rgb(242, 196, 228);
    --topMid: rgb(113, 75, 252);
    --midMid: rgb(181, 95, 191);
    --bottomMid: rgb(255, 118, 110);
    --bottomRight: rgb(159, 116, 153);
    --fontColor: white;
    --black: black;
}

body {
    font-family: 'Fraunces', serif;
    color: var(--fontColor);
    background-image: linear-gradient(var(--themeColor), var(--themeBottom));
    height: 100vh;
}

.bg-sec-right {
    margin-left: auto;
    margin-right: 0;
    width: 35%;
    height: 86vh;
    background-image: linear-gradient(to bottom right, var(--topLeft), var(--topMid), var(--midMid), var(--bottomMid), var(--bottomRight));
}

.contents {
    /* visibility: hidden; */
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80vh;
    margin-top: 7rem;
    border-radius: 1rem;
    background: linear-gradient(217deg, rgba(43, 30, 74,0.7), rgba(67, 37, 108,0) 70.71%),
            linear-gradient(55deg, rgba(0,0,0,0.5), rgba(67, 37, 108,0) 70.71%),
            linear-gradient(336deg,  rgba(113, 75, 252,0.4), rgba(67, 37, 108,0.3) 70.71%);
}

.nav-bar,
.data-content {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    opacity: 1;
}
.nav-bar{
padding: 0 6rem;
}

.social-media {
    height: 60%;
    border-radius: 50%;
    padding: 0.2rem 0.1rem;  
}

.social-media:hover{
    box-shadow: 4px 4px 10px var(--themeBottom), -4px -4px 10px var(--themeBottom);
}

.social-links {
    margin-block-start: 0.5em;
    font-size: medium;
    border-radius: 2rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
    border: 0.5px dotted var(--topLeft);
    margin-left: auto;
}

nav h3{
    margin-block-end: 0;
}

#img-calendar {
    width: 50%;
    transform: rotate3d(1, 1, 1, 5deg);
}

.txt-output {
    height: 35vh;
}

.app-content{
    text-align: center;
    margin: auto;
    padding: 0.5rem 1.5rem;
    /* border: 2px solid white; */
}

#txt-date{
    border-radius: 0.7rem;
    padding: 0.2rem;
    margin: 0.4rem;
    font-family: inherit;
    font-weight: bold;
    outline: none;
}

#btn-check{
    outline: none;
    margin: 0.4rem;
    padding: 0.4rem;
    border-radius: 0.7rem;
    border: transparent;
    box-shadow:  0.2px 0.2px 4px var(--fontColor),-0.2px -0.2px 4px var(--fontColor);
    font-weight: bold;
    color: var(--fontColor);
    background: linear-gradient(135deg, rgb(8, 146, 105),var(--themeColor) 90%);
    cursor: pointer;
}

#btn-check:hover{
    background: linear-gradient(135deg, rgb(241, 205, 44),var(--themeColor) 90%);
}

.txt-output{
    font-size: medium;
    line-height: 2rem;
    /* overflow: auto; */
}

.highlight{
    font-style: italic;
    font-weight: bold;
    padding: 0 0.4rem;
    border-radius: 0.5rem;
    background-color: rgba(247, 94, 86, 0.5);
}

@media only screen and (max-width: 850px){
    body, .txt-output{
        font-size: 90%;
    }
    .txt-output{
        line-height: 1.8rem;
    }
}

@media only screen and (max-width: 750px){
    .social-links{
        height: 80%;
        width: 80%;
    }
    .nav-bar{
        flex-flow: column wrap;
        margin-right: auto;
    }
    body, .txt-output{
        font-size: 100%;
    }

    .data-content{
        flex-flow: column-reverse wrap;
        justify-content: center;
        text-align: center;
    }
}