@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,400;0,500;1,300&display=swap');

:root {
    --themeColor: rgb(67, 37, 108);
    --themeBottom: rgb(43, 30, 74);
    --topLeft: rgb(242, 196, 228);
    --topMid: rgb(113, 75, 252);
    --midMid: rgb(181, 95, 191);
    --bottomMid: rgb(255, 118, 110);
    --bottomRight: rgb(159, 116, 153);
    --fontColor: white;
    --black: black;
}

body {
    font-family: 'Fraunces', serif;
    color: var(--fontColor);
    background-image: linear-gradient(var(--themeColor), var(--themeBottom));
    height: 100vh;
}

.bg-sec-right {
    margin-left: auto;
    margin-right: 0;
    width: 35%;
    height: 85vh;
    background-image: linear-gradient(to bottom right, var(--topLeft), var(--topMid), var(--midMid), var(--bottomMid), var(--bottomRight));
}

.contents {
    /* visibility: hidden; */
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin-top: 7rem;
    border-radius: 1rem;
    background: linear-gradient(217deg, rgba(255,255,255,.1), rgba(67, 37, 108,0) 70.71%),
            linear-gradient(45deg, rgba(0,0,0,0.5), rgba(67, 37, 108,0) 70.71%),
            linear-gradient(336deg,  rgba(113, 75, 252,0.4), rgba(67, 37, 108,0.3) 70.71%);
}

.nav-bar,
.data-content {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    opacity: 1;
}

.social-media {
    height: 60%;
}

.social-links {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: medium;
}

#img-calendar {
    width: 50%;
    transform: rotate3d(1, 1, 1, 5deg);
}

.txt-output {
    height: 35vh;
}